@use "./variable" as v;

@mixin flexBox {
  display: flex;
  align-items: center;
}

@mixin icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: transparent;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.4s ease;
  &:hover {
    background-color: v.$hover-effect;
  }
}
